<!-- <p>accident-details works!</p> -->

<div id="info" class="flex justify-center ...">
  <div>
    <h2 class="pb-2">View Accident</h2>
    <!-- <<p class="text-red-500 text-xs italic">Accident Report</p>  -->
    <form [formGroup]="form">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="DateIncident"
            >Date of Incident</label
          >
          <div>
            <input
              readonly
              id="accidentdate"
              type="text"
              formControlName="DateIncident"
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <mat-label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="incidenttime"
            >Time of Incident</mat-label
          >
          <input
            readonly
            id="incidenttime"
            type="text"
            formControlName="TimeIncident"
          />
        </div>
      </div>
      <div class="form-group">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="Location"
          >Location of Incident:
        </label>
        <input
          type="text"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="location"
          formControlName="Location"
          readonly
        />
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="longitude"
            >Longitude</label
          >
          <div>
            <input
              readonly
              id="longitude"
              type="text"
              formControlName="Longitude"
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <mat-label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="latitude"
            >Latitude</mat-label
          >
          <input
            readonly
            id="latitude"
            type="text"
            formControlName="Latitude"
          />
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <accident-map *ngIf="center" [center]="center" />
      </div>

      <div class="form-group">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="weatherconditions"
          >Weather Conditions</label
        >
        <input
          type="text"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="weatherconditions"
          formControlName="WeatherConditions"
        />
      </div>

      <div class="form-group">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="weatherconditions"
          >Daylight</label
        >
        <input
          type="text"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="daylight"
          formControlName="Daylight"
        />
      </div>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="Cost"
          >
            Estimated Cost
          </label>
          <input
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            id="EstimateCost"
            type="text"
            formControlName="EstimateCost"
          />
        </div>

        <div>          
        </div>
      </div>

      <div class="flex flex-wrap -mx-3 mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          for="party"
          >Party Details</label
        >
        <mat-table [dataSource]="dataSource1">

          <ng-container matColumnDef="partyNo">
            <mat-header-cell *matHeaderCellDef> Party </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</mat-cell> 
          </ng-container>

          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Last Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a>{{ element.lastName }}</a></mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              First Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.firstName }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Address
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.address }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Phone
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.phone }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="license">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              License
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.license }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Remarks</mat-header-cell
            >
            <mat-cell *matCellDef="let element">
              {{ element.remarks }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="insuranceProvider">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Insurance Provider
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.insuranceProvider }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="insuranceNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Insurance Number
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.insuranceNumber }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>

      <h2 class="pb-2">Accident Images</h2>
      <!--  <ng-image-slider #nav [images]='imagesa' [infinite]="false" [autoSlide]="1"
          [imageSize]="{width: '33%', height: 200}" slideImage="1"></ng-image-slider>-->
      <div *ngFor="let image of imagengx">
        <div class="responsive">
          <div class="gallery">
            <a target="_blank" [href]="image">
              <img [src]="image" alt="Cinque Terre" />
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
