<br>
<div mat-dialog-title class="dialog-title">
  <h1 mat-dialog-title>Party Details Information</h1>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<hr>
<mat-dialog-content>
  <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="shadow-xl">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="firstName"
          >
            First Name
          </label>
          <div class="h-20">
            <input
              name="firstName"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="firstName"
            />
          <span [hidden]="!form.controls['firstName'].errors">* Required </span>
            </div>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="lastName" 
          >
            Last Name
          </label>
          <div class="h-20">
            <input
              name="lastName"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="lastName"
            />
          
          <span [hidden]="!form.controls['lastName'].errors">* Required </span>
    </div>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="address"
          >
            Address
          </label>
          <div class="h-20">
            <input
              name="address"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="address"
            />
          </div>  

   
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="phone"
          >
            Phone
          </label>
          <div class="h-20">
            <input
              name="phone"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="phone"
            />
       
 
          <span [hidden]="!form.controls['phone'].errors">* Required </span>
        </div>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="licenseNumber"
          >
            Driver License #
          </label>
          <div class="h-20">
            <input
              name="licenseNumber"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="licenseNumber"
            />
         
     
          <span [hidden]="!form.controls['licenseNumber'].errors">* Required </span>
        </div>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="remarks"
          >
            Remarks
          </label>
          <div class="h-20">
            <input
              name="remarks"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="remarks"
            />
          </div>
    
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="insuranceNumber"
           >
            Insurance #
          </label>
          <div class="h-20">
            <input
              name="insuranceNumber"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="insuranceNumber"
            />
            <button *ngIf="form.get('insuranceNumber')?.value.trim().length > 0" type="button"
              (click)="this.crashservice.speakText(form.get('insuranceNumber')?.value)"
              class="bg-blue-500 text-white  py-1 px-2 rounded hover:bg-blue-600 focus:outline-none">🎙️ Speak</button> 
          <span [hidden]="!form.controls['insuranceNumber'].errors">* Required </span>
        </div>
        </div>

        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" 
            for="insuranceProvider"
          >
            Insurance Provider
          </label>
          <div class="h-20">
            <input
              name="insuranceProvider"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="insuranceProvider"
            />
            <span [hidden]="!form.controls['insuranceProvider'].errors">* Required </span>
          </div>
    
        </div>
      </div>
    </div>
  </form>
  <div class="mt-6 flex items-center justify-end gap-x-6">
    <!--  <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
  <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      (click)="onSubmit()"
  >Save</button> -->
  </div>
</mat-dialog-content>
  <mat-dialog-actions align="center">
    <button
      mat-button mat-dialog-close
      class="text-sm font-semibold leading-6 text-gray-900"
      (click)="onNoClick()"
    >
      Cancel
    </button>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button
      mat-button  
      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      cdkFocusInitial
      (click)="onSubmit()"
    >
      Save
    </button>
  </mat-dialog-actions>

