

.title{
    //left:500 px;
    color: Black;
    font-weight:normal;
    font-size: large;
    text-align: left;
    font-style:oblique;
    font:600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  };
  
  .mat-column-Location{
   text-align: center;
   color:blue;
   font-style:oblique;
  };
  
  .mat-column-Date{
    text-align: center;
   };
  
   .mat-column-Parties{
    text-align: center;
   };
  
  
  